body {
    max-width:var(--width);
    padding:var(--gap);

    display: grid; /* center content. Margins will not collapse :/ */
    place-content: center stretch;
}
body > * {
    min-width:0; /* gap makes min-width = content-width, in some cases it will overflow */
}
section,
body > footer,
body > header {
    padding-top:calc(var(--gap)*2);
    padding-bottom:calc(var(--gap)*2);
}
body > footer {
    border-top:.1em solid var(--color);
    text-align:center;
}

body > header {
    border-bottom:.1em solid var(--color);
}