body {
    max-width:var(--width);
    padding:1rem;

    display: grid; /* center content. Margins will not collapse :/ */
    place-content: center stretch;
}
body > * {
    min-width:0; /* gap makes min-width = content-width, in some cases it will overflow */
}
section,
body > footer,
body > header {
    padding-block: 2rem;
}
body > footer {
    border-top:.1em solid var(--color);
    text-align:center;
}

body > header {
    border-bottom:.1em solid var(--color);
}


table {
    font-size: max(.8rem, 14px);
}
tr:not(:last-child) {
    border-style:solid; /* new: not on td/th any problems? */
    border-width:0 0 var(--line-width) 0;
    border-color:var(--color-line);
}


blockquote {
    margin: 0;
    padding: .5rem;
    padding-left: 1rem;
    border-left: .3rem solid var(--color);
    background-color: var(--color-light);
    font-size: .8em;
}

pre {
    background-color: var(--color-light);
    padding: 1rem;
    overflow-x: auto;
    border-radius: var(--radius);
    font-size: .8em;
}
code {
    font-size: .9em;
    padding: 0 .3em;
    background-color: var(--color-light);
    white-space: pre-wrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: var(--line-height);
    --line-height: 1;
}

/* figure */
figure {
    padding:0;
    margin: 1rem auto;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    overflow:auto;
    /*
    font-size: 1.2rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    */
}
figure > img {
    border-radius: var(--radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
figcaption {
    opacity: .7;
    font-size: .9rem;
    font-style: italic;
    text-align: center;
}
